[Unit]
Description=Launcher Modular
After=graphical-session.target

[Service]
ExecStart=/usr/bin/lomiri-app-launch launchermodular.lut11_launchermodular
Restart=on-failure

[Install]
WantedBy=graphical-session.target
